<a href="https://colab.research.google.com/github/Lau-Jr/data-engineering-dump/blob/main/data_eng_staffs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Function to extract table to a pandas DataFrame
def extract_table_to_pandas(tablename, db_engine):
    query = "SELECT * FROM {}".format(tablename)
    return pd.read_sql(query, db_engine)

# Connect to the database using the connection URI
connection_uri = "postgresql://repl:password@localhost:5432/pagila" 
db_engine = sqlalchemy.create_engine(connection_uri)

# Extract the film table into a pandas DataFrame
extract_table_to_pandas("film", db_engine)

# Extract the customer table into a pandas DataFrame
extract_table_to_pandas("customer", db_engine)

In [ ]:
import requests

# Fetch the Hackernews post
resp = requests.get("https://hacker-news.firebaseio.com/v0/item/16222426.json")

# Print the response parsed as JSON
print(resp.json())####status_code

# Assign the score of the test to post_score
post_score = resp.json()["score"]
print(post_score)

In [ ]:
import pandas as pd
import requests

In [ ]:
resp = requests.get("https://hacker-news.firebaseio.com/v0/item/16222426.json")
resp.json()
df = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
# spliting data in panda
# df.assign()

In [ ]:
# Import SparkSession from pyspark.sql
from pyspark.sql import SparkSession

# Create my_spark
spark = SparkSession.builder.getOrCreate()

# Print my_spark
print(spark)

In [ ]:
# Print the tables in the catalog
print(spark.catalog.listTables())

In [ ]:
# Don't change this query
query = "FROM flights SELECT * LIMIT 10"

# Get the first 10 rows of flights
flights10 = spark.sql(query)

# Show the results
flights10.show()

In [ ]:
# Don't change this query
query = "SELECT origin, dest, COUNT(*) as N FROM flights GROUP BY origin, dest"

# Run the query
flight_counts = spark.sql(query)

# Convert the results to a pandas DataFrame
pd_counts = flight_counts.toPandas()

# Print the head of pd_counts
print(pd_counts)

In [ ]:
# Create pd_temp
pd_temp = pd.DataFrame(np.random.random(10))

# Create spark_temp from pd_temp
spark_temp = spark.createDataFrame(pd_temp)

# Examine the tables in the catalog
print(spark.catalog.listTables())

# Add spark_temp to the catalog
spark_temp.createTempView('temp')

# Examine the tables in the catalog again
print(spark.catalog.listTables())

In [ ]:
# Don't change this file path
file_path = "/usr/local/share/datasets/airports.csv"

# Read in the airports data
airports = spark.read.csv(file_path, header=True)

# Show the data
airports.show()

In [ ]:
# Create the DataFrame flights
flights = spark.table('flights')

# Show the head
flights.show()

# Add duration_hrs
flights = flights.withColumn('duration_hrs',flights.air_time / 60)
flights.show()

In [ ]:
# Filter flights by passing a string
long_flights1 = flights.filter("distance > 1000")

# Filter flights by passing a column of boolean values
long_flights2 = flights.filter(flights.distance > 1000)

# Print the data to check they're equal
long_flights1.show()
long_flights2.show()

In [ ]:
# spliting col
# Get the rental rate column as a string
rental_rate_str = film_df.rental_rate.astype(str)

# Split up and expand the column
rental_rate_expanded = rental_rate_str.str.split(".", expand=True)

# Assign the columns to film_df
film_df = film_df.assign(
    rental_rate_dollar=rental_rate_expanded[0],
    rental_rate_cents=rental_rate_expanded[1],
)

print(film_df.head())

In [ ]:
# geting data to spark_df
spark.read.jdbc("jdbc:postgresql://localhost:5432/pagila",
                "customer",
                {"user":"repl","password":"password"})

In [ ]:
# groupby spark_df
# Use groupBy and mean to aggregate the column
ratings_per_film_df = rating_df.groupBy('film_id').mean('rating')

# Join the tables using the film_id column
film_df_with_ratings = film_df.join(
    ratings_per_film_df,
    film_df.film_id==rating_df.film_id
)

# Show the 5 first results
print(film_df_with_ratings.show(5))

###Import a subset of columns

In [ ]:
# Create list of columns to use
cols = ['zipcode','agi_stub','mars1','MARS2','NUMDEP']

# Create dataframe from csv using only selected columns
data = pd.read_csv("vt_tax_data_2016.csv", usecols=cols)

# View counts of dependents and tax returns by income level
print(data.groupby("agi_stub").sum())

###Import a file in chunks

In [ ]:
# Create dataframe of next 500 rows with labeled columns
vt_data_next500 = pd.read_csv("vt_tax_data_2016.csv", 
                       		  skiprows = 500,
                       		  nrows=500,
                       		  header = None,
                       		  names = list(vt_data_first500.columns))

# View the Vermont dataframes to confirm they're different
print(vt_data_first500.head())
print(vt_data_next500.head())

###Specify data types

In [ ]:
# Create dict specifying data types for agi_stub and zipcode
data_types = {'agi_stub':'category',
			  'zipcode':str}

# Load csv using dtype to set correct data types
data = pd.read_csv("vt_tax_data_2016.csv", dtype = data_types)

# Print data types of resulting frame
print(data.dtypes.head())

###Set custom NA values

In [ ]:
# Create dict specifying that 0s in zipcode are NA values
null_values = {'zipcode':0}

# Load csv using na_values keyword argument
data = pd.read_csv("vt_tax_data_2016.csv", 
                   na_values = null_values)

# View rows with NA ZIP codes
print(data[data.zipcode.isna()])

###Skip bad data

In [ ]:
try:
  # Import the CSV without any keyword arguments
  data = pd.read_csv('vt_tax_data_2016_corrupt.csv')
  
  # View first 5 records
  print(data.head())
  
except pd.errors.ParserError:
    print("Your data contained rows that could not be parsed.")

In [ ]:
try:
  # Import CSV with error_bad_lines set to skip bad records
  data = pd.read_csv("vt_tax_data_2016_corrupt.csv", 
                     error_bad_lines = False)
  
  # View first 5 records
  print(data.head())
  
except pd.errors.ParserError:
    print("Your data contained rows that could not be parsed.")

In [ ]:
try:
  # Set warn_bad_lines to issue warnings about bad records
  data = pd.read_csv("vt_tax_data_2016_corrupt.csv", 
                     error_bad_lines=False, 
                     warn_bad_lines = True)
  
  # View first 5 records
  print(data.head())
  
except pd.errors.ParserError:
    print("Your data contained rows that could not be parsed.")

###IMPORTING EXCEL

In [ ]:
# Load pandas as pd
import pandas as pd

# Read spreadsheet and assign it to survey_responses
survey_responses = pd.read_excel('fcc_survey.xlsx')

# View the head of the dataframe
print(survey_responses.head())

###LOADING PORTION OF SPREADSHEET

In [ ]:
# Create string of lettered columns to load
col_string = 'AD,AW:BA'

# Load data with skiprows and usecols set
survey_responses = pd.read_excel("fcc_survey_headers.xlsx", 
                        usecols = col_string, 
                        skiprows = 2)

# View the names of the columns selected
print(survey_responses.columns)

###PANDAS GROUP BY PRACTICE

In [51]:
import pandas as pd
import numpy as np
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}

data = pd.DataFrame (ipl_data)

In [52]:
# apply fnx


def to_upper(team):
  return team.capitalize()

data['Team'] = data['Team'].apply(to_upper)

In [67]:
grouped = data.groupby(['Team'])

In [58]:
for x,y in grouped:# here grouped is not DF
  print(x)
  print(y)

('Devils', 2014)
     Team  Rank  Year  Points
2  Devils     2  2014     863
('Devils', 2015)
     Team  Rank  Year  Points
3  Devils     3  2015     673
('Kings', 2014)
    Team  Rank  Year  Points
4  Kings     3  2014     741
('Kings', 2015)
    Team  Rank  Year  Points
5  Kings     4  2015     812
('Kings', 2016)
    Team  Rank  Year  Points
6  Kings     1  2016     756
('Kings', 2017)
    Team  Rank  Year  Points
7  Kings     1  2017     788
('Riders', 2014)
     Team  Rank  Year  Points
0  Riders     1  2014     876
('Riders', 2015)
     Team  Rank  Year  Points
1  Riders     2  2015     789
('Riders', 2016)
     Team  Rank  Year  Points
8  Riders     2  2016     694
('Riders', 2017)
      Team  Rank  Year  Points
11  Riders     2  2017     690
('Royals', 2014)
     Team  Rank  Year  Points
9  Royals     4  2014     701
('Royals', 2015)
      Team  Rank  Year  Points
10  Royals     1  2015     804

In [54]:
# getting a group 
kings = grouped.get_group('Kings')

print(kings[['Year','Rank','Points']])

   Year  Rank  Points
4  2014     3     741
5  2015     4     812
6  2016     1     756
7  2017     1     788

In [59]:
grouped['Points'].agg(np.sum)

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
        2015    812
        2016    756
        2017    788
Riders  2014    876
        2015    789
        2016    694
        2017    690
Royals  2014    701
        2015    804
Name: Points, dtype: int64

In [56]:
grouped['Points'].mean()

Team
Devils    768.00
Kings     774.25
Riders    762.25
Royals    752.50
Name: Points, dtype: float64

In [61]:
grouped.agg(np.size)

             Rank  Points
Team   Year
Devils 2014     1       1
       2015     1       1
Kings  2014     1       1
       2015     1       1
       2016     1       1
       2017     1       1
Riders 2014     1       1
       2015     1       1
       2016     1       1
       2017     1       1
Royals 2014     1       1
       2015     1       1

In [69]:
grouped.agg(np.size)   #checking the length of each group

        Rank  Year  Points
Team
Devils     2     2       2
Kings      4     4       4
Riders     4     4       4
Royals     2     2       2

In [70]:
grouped.groups

{'Devils': [2, 3], 'Kings': [4, 5, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10]}

In [71]:
grouped.count()

        Rank  Year  Points
Team
Devils     2     2       2
Kings      4     4       4
Riders     4     4       4
Royals     2     2       2

In [73]:
grouped['Points'].filter(lambda x: x > 800)

TypeError: ignored

In [82]:
grouped['Points'].transform(sum)
grouped['Points'].sum()
remember the filter functions

0     3049
1     3049
2     1536
3     1536
4     3097
5     3097
6     3097
7     3097
8     3049
9     1505
10    1505
11    3049
Name: Points, dtype: int64

In [83]:
grouped.groups

{'Devils': [2, 3], 'Kings': [4, 5, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10]}

In [89]:
grouped.first()
grouped.nth(4)

Empty DataFrame
Columns: [Rank, Year, Points]
Index: []

In [90]:
grouped.head(2)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    Kings     4  2015     812
9   Royals     4  2014     701
10  Royals     1  2015     804